.board-container {
  .board-columns-container {
    display: flex;
    overflow: auto;
    min-width: calc(100% - 20px);
    max-height: calc(100vh - 128px);
    padding: 0 10px;
  }

  .kanban-items-container {
  }
}
