.kanban-item {
  .draggable-active .kanban-item-content {
    background-color: rgb(245, 255, 150);
  }
  & > div {
    margin-top: 20px;
  }
  .kanban-item-content {
    padding: 10px;

    .kanban-item-assignee {
      display: flex;
      justify-content: flex-start;
      padding-top: 5px;
      svg {
        font-size: 1rem;
      }
      p {
        margin: auto 0;
        padding-left: 5px;
      }
    }
  }
}
